# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

<div class="LayoutPopup ARIARoleMain">

    <div class="Header">
        <h1>
            [% Translate("History of %s%s-%s", Config("ITSMWorkOrder::Hook"), Data.ChangeNumber, Data.WorkOrderNumber) | html %] &ndash; [% Data.WorkOrderTitle | truncate(60) | html %]
        </h1>
        <div>
            <a class="CancelClosePopup btn-cancel-ghost btn-main btn-width-md" href="#">
                [% Translate("Cancel") | html %]
            </a>
        </div>
    </div>

    <div class="Content table-widget-parent">
        <div class="WidgetSimple inline-filter-field card">
            <div class="Content">
                <span>
                    <input type="text" id="FilterHistory" placeholder="[% Translate("Start typing to filter...") | html %]" name="FilterHistory" value="" title="[% Translate("Filter for history items") | html %]">
                </span>
                <span>
                    <a href="" class="CallForAction btn-main btn-primary btn-width-lg" id="ExpandCollapseAll">[% Translate("Expand/Collapse all") | html %]</a>
                </span>
            </div>
        </div>
        <div class="WidgetSimple FilterMessageWidget Hidden">
            <div class="Header">
                <h2>[% Translate("No Matches") | html %]</h2>
            </div>
            <div class="Content">
                <p>[% Translate("Sorry, your search didn't match any items.") | html %]</p>
            </div>
        </div>
        <div class="WidgetSimple Expanded table-widget">
            <div class="Header">
                <div class="WidgetAction Toggle"><a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a></div>
                <h2>
                    [% Data.CreateTime | Localize("TimeLong") %]
                </h2>
            </div>
            <div class="Content">
                <table class="DataTable">
                    <thead>
                        <tr>
                            <th>[% Translate("Action") | html %]</th>
                            <th>[% Translate("Comment") | html %]</th>
                            <th>[% Translate("Details") | html %]</th>
                            <th>[% Translate("Workorder") | html %]</th>
                            <th>[% Translate("User") | html %]</th>
                            <th>[% Translate("Createtime") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>

[% RenderBlockStart("Row") %]
                        <tr>
                            <td>
                                [% Data.HistoryType | html %]
                            </td>
                            <td>
                                [% Data.Content | truncate(100) | html %]
                            </td>
                            <td>
[% RenderBlockStart("NoHistoryZoom") %]
                                -
[% RenderBlockEnd("NoHistoryZoom") %]
[% RenderBlockStart("ShowHistoryZoom") %]
                                <a class="AsBlock" href="[% Env("Baselink") %]Action=AgentITSMWorkOrderHistoryZoom;HistoryEntryID=[% Data.HistoryEntryID %]">[% Translate("Show details") | html %]</a>
[% RenderBlockEnd("ShowHistoryZoom") %]
                            </td>
                            <td align="center">
[% RenderBlockStart("ShowWorkOrderZoom") %]
                                <a class="LinkITSMWorkOrderZoomView AsBlock" href="[% Env("Baselink") %]Action=AgentITSMWorkOrderZoom;WorkOrderID=[% Data.WorkOrderID %]">[% Translate("Show workorder") | html %]</a>
[% RenderBlockEnd("ShowWorkOrderZoom") %]
                            </td>
                            <td>
                                [% Data.UserFullname | html %]
                            </td>
                            <td>
                                [% Data.CreateTime | Localize("TimeLong") %]
                            </td>
                        </tr>
[% RenderBlockEnd("Row") %]

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="Footer">
    </div>
</div>
